<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
		  android:versionName="1.1" 
		  package="PioChoBia.calc" android:installLocation="preferExternal" android:versionCode="221119">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="calc" android:theme="@style/MainTheme" android:icon="@mipmap/pikto"></application>
</manifest>